* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(77, 7, 121);
  background: linear-gradient(
    90deg,
    rgba(77, 7, 121, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(135, 9, 9, 1) 100%
  );
}

.alert {
  background-color: red;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  padding: 5px;
}

.hides {
  display: none;
}

.main-container {
  width: 258px;
  height: 340px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 8px;
}

.title1 h1 {
  font-family: sans-serif;
  padding: 30px 0px 0px 20px;
}

.form-container {
  display: flex;
  flex-direction: column;

  gap: 32px;
  margin-top: 25px;
}

.form-container label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #00453a;

  padding-left: 10px;
}

.form-container input {
  width: 240px;
  height: 42px;
  padding: 16px;
  gap: 10px;

  margin-left: 10px;
  margin-bottom: 16px;

  border-radius: 8px;
}

button {
  width: 240px;
  height: 42px;
  margin-top: 24px;

  margin-left: 10px;
  border-radius: 8px;

  background-color: #02799d;
  color: #fff;
  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
}

button:hover{
  background-color: #084f64;

}

.modal-container {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);

  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}

.open{
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 210px;
  height: 100px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}

.modal h1 {
  font-family: sans-serif;
  text-align: center;
  
  padding: 25px;
}

.modal button {
  background-color: #fff;
  border: none;

  width: 24px;
  height: 24px;

  position: absolute;
  top: 5px;
  right: 8px;

 
}
